<!-- Loop over each object in the projects array -->
{{#each movies as |movie| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{movies.movie_id}}">{{movies.movie_name}}</a>
    </h2>
    <p>
      Movie Released in Year: {{movies.publish_year}}
    </p>
    <p>This is on {{movie.user.name}}'s shelf.</p>
  </div>
  <div class="col-md-7">
    <p>
      {{movie.movie_description}}
    </p>
  </div>
</div>
{{/each}}
