<!-- Loop over each object in the projects array -->
{{#each movies as |movie| }}
{{#if movie.is_available}}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/movie/{{movie.movie_id}}">{{movie.movie_name}}</a>
    </h2>
    <p>
      Movie Released in Year: {{movie.publish_year}}
    </p>

    {{#if ../logged_in}}
    <p>This is on {{user.name}}'s shelf.</p>
    {{/if}}

  </div>
  <div class="col-md-7">
    <p>
      {{movie.movie_description}}
    </p>
  </div>
</div>
{{/if}}
{{/each}}
