<div class="text-center">
  <h2>{{movie_name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{movie_description}}</p>
  <p id="test" class="hide">{{movie_id}}</p>
  <p>
    Movie released in: 
    <span class="dollar-amount">{{publish_year}}</span>.
  </p>

  {{#if logged_in}}
  <p>Original Contributor {{user.name}}.</p>
  {{#unless is_available}}
  <p>Borrowed by {{current_holder}}</p>
  {{/unless}}
  {{#if is_available}}
  <p>Contact {{user.name}} at Unit # {{user.unit_number}} <br>Or call their mobile at {{user.mobile_number}}</p>
  {{/if}}
  <p>
    {{#ifCondThree is_available current_holder username}}
    <button id="return-button" class="btn btn-primary return-movie" data-id="{{movie_id}}">Return Movie</button>
    {{/ifCondThree}}
    
    {{#ifCondTwo is_available user.name username}}
    <button id="borrow-button" class="btn btn-primary borrow-movie" data-id='{{movie_id}}'>Borrow Movie</button>
    {{/ifCondTwo}}
  
  </p>
  {{/if}}
  {{#unless logged_in}}
  <a href="/login" id="go-to-signup" class="btn btn-primary signup-button">SignIn / Login to Borrow</a>
  {{/unless}}

</div>

<script src="/js/movie.js"></script>
