<div class="text-center">
  <h2>{{movie_name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{movie_description}}</p>
  <p>
    Movie released in: 
    <span class="dollar-amount">{{publish_year}}</span>.
  </p>
  <p>Located on {{user.name}}'s shelf.</p>
  <p>Borrowed by {{current_holder}}</p>
  <p>Contact {{user.name}} at Unit # {{user.unit_number}} <br>Or call their mobile at {{user.mobile_number}}</p>
  <p>
    <button id="return-button" class="btn btn-primary return-movie" data-id="{{movie_id}}">Return Movie</button>
    <button id="borrow-button" class="btn btn-primary borrow-movie" data-id="{{movie_id}}">Borrow Movie</button>
  </p>
</div>

<script src="/js/movie.js"></script>
