<div class="text-center">
  <h2>{{movie_name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{movie_description}}</p>
  <p>Located on {{user.name}}'s shelf.</p>
  <p>
    Movie released in: 
    <span class="dollar-amount">{{publish_year}}</span>.
  </p>
  <p>
    <button class="btn btn-primary">Put it on the Shelf!</button>
  </p>
</div>
