<div class="row">
  <div class="col-auto bg-white p-0 card">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6 justify-center-md card bg-light p-0">
    <h3>Add a new movie to your shelf:</h3>

    <form class="form new-movie-form">
      <div class="form-group">
        <label for="movie-name">Movie Name:</label>
        <input class="form-input" type="text" id="movie-name" name="movie-name" />
      </div>
      <div class="form-group">
        <label for="movie-year">Movie Release Year:</label>
        <input class="form-input" type="number" id="movie-year" name="movie-year" />
      </div>
      <div class="form-group">
        <label for="movie-genre">Movie Genre: (1-9)</label>
        <input class="form-input" type="number" id="movie-genre" name="movie-genre" />
      </div>
      <div class="form-group">
        <label for="movie-mpaa">Movie MPAA Rating: (1-6)</label>
        <input class="form-input" type="number" id="movie-mpaa" name="movie-mpaa" />
      </div>
      <div class="form-group">
        <label for="movie-desc">Description:</label>
        <textarea class="form-input" id="movie-desc" name="movie-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">PUT it on the Shelf!</button>
      </div>
    </form>
  </div>

  <div class="col-md-auto movie-list bg-light card p-2 justify-center-md my-auto">
    {{#if movies.length}}
    <div class="movie-list listed-movies">
      <h3>Movies you've LENT to The Shelf:</h3>

      {{#each movies as |movie|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/movie/{{movie.movie_id}}">{{movie.movie_name}}</a></h4>
        </div>
        <div class="col-md-4">
          <button id="remove-button" class="btn btn-sm btn-danger" data-id="{{movie.movie_id}}">REMOVE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if borrowedMovies.length}}
    <div class="movie-list borrowed-movies">
      <h3>Movies your BORROWING from The Shelf:</h3>

      {{#each borrowedMovies as |borrowedMovie|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/movie/{{borrowedMovie.movie_id}}">{{borrowedMovie.movie_name}}</a></h4>
        </div>
        <div class="col-md-4">
          <button id="return-button" class="btn btn-sm btn-info" data-id="{{borrowedMovie.movie_id}}">RETURN</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

</div>

<script src="./js/profile.js"></script>